# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/*.apk
android/*.aab

# iOS
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
ios/Pods/
ios/.build/

# Shared
*.log
*.tmp
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
